<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>TweetCast Your Vote in {{city}}!</h1>
    <h1>{{city}} Swings {{res.winners.party}}!</h1>
    <form action="" method="post">
      {{ form.csrf }}
      <div class="input text">
      {{ form.name.label }} {{ form.name }}
      <input type="submit" value="Search Again" class="btn btn-lg btn-default">
      </div>
    </form>
  <h2>Result Terms</h2>
  <div id="bernie"><h4>Bernie Sanders</h4>
    <ul>
      <li>#feelthebern</li>
      <li>bernie2016</li>
    </ul></div>
  <div id="hillary"><h4>Hillary Clinton</h4>
    <ul>
      <li>#imwithher</li>
    </ul></div>
  </div> 
  <div id="trump"><h4>Donald Trump</h4>
    <ul>
      <li>#trump2016</li>
    </ul></div>
  </div> 
  </div>          
  </body>
</html>